
  .characters-hero {
    text-align: center;
    background-color: #282c34;
    color: white;
    padding: 20px 0;
  }
  
  .movie-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .movie-info img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .movie-info img:hover {
    transform: scale(1.05);
  }
  
  .movie-info div {
    max-width: 60%;
  }
  
  .movie-info h2 {
    color: #333;
  }
  
  .movie-info p {
    color: #666;
  }
  
  button {
    background-color: #384654;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    margin: 20px auto;
    display: block;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  button:active {
    transform: translateY(1px);
  }
  